// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article-card{
  min-height: 375px;
}
.title-div{
  height: 58px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  padding: 5px 15px;
}
.body-div{
  min-height: 80px;
  padding: 5px 15px 0;
  margin: 0;
}
.action-row{
  height: 35px;
  padding: 8px 15px 7px;
  margin-bottom: 15px;
}
.comment-count{
  padding-right: 10px;
}
.category-list{
  display: none;
}
.mobile-categoryList{
  display: block;
  padding: 5px 10px 0;
  .dropdown-toggle{
    max-width: 160px;
    width: 50%;
    margin: 5px 5px;
    border: 1px solid #007bff;
    border-radius: 50px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    text-transform: uppercase;
  }
}
.overview-wrapper{
  background-color: rgba(147, 148, 155, 0.418);
  min-height: calc(100vh - 55px - 30px);
  margin-top: -10px;
  padding: 5px 15px;
  h3{
    line-height: 30px;
  }
}
.overview-header{
  margin-bottom: 30px;
  height: 60px;
  padding-top: 20px;
}
.page-title{
  font-size: 18px;
  font-weight: bold;
}
.white-box {
  background: #fff;
  padding: 25px 25px 20px;
  margin-bottom: 20px;
}
.box-title{
  font-size: 20px;
  font-weight: bolder;
}
.div-inline {
  // padding-left: 10px;
  padding-top: 20px;
  // margin-left: -5px;
}
.overview-icon{
  display: inline-block;
  // width: 67px;
  // height: 30px;
  // vertical-align: top;
  width: 67px;
  height: 30px;
  font-size: 32px;
}
.count{
  // display: inline-block;
  float: right;
  .counter{
    font-size: 24px;
    font-weight: bolder;
  }
}
.comment-center {
  margin: 0 -25px;
  .comment-body {
    border-bottom: 1px solid rgba(120,130,140,.13);
    display: table;
    width: 100%;
    height: 172px;
    padding: 12px 25px;
  }
  .comment-body:nth-child(3){
    border-bottom: 0;
  }
  .post-img{
    width: 120px;
    img{
      height: 120px;
    }
  }
  .user-img{
    width: 60px;
  }
  .user-img, .post-img {
    display: table-cell;
    position: relative;
    margin: 0 10px 0 0;
    img {
      width: 100%;
    }
    .img-circle {
      border-radius: 50%;
    }
  }
  .mail-contnet {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
    h5{
      height: 29px;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      font-size: 22px;
      line-height: 1.2;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
    }
    .mail-desc {
      font-size: 14px;
      display: block;
      margin: 15px 0;
      line-height: 25px;
      color: #848a96;
      overflow: hidden;
      max-height: 52px;
      text-overflow: ellipsis;
    }
  }
  .time {
    display: inline-block;
    font-size: 12px;
    color: #98a6ad;
  }
}
.p-t-10 {
  padding-top: 10px !important;
}
white-box .box-title {
  margin: 0 0 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

@media screen and (min-width: 576px){
  .mobile-categoryList{
    display: none;
  }
  .category-list{
    display: block;
    position: absolute;
    margin: 10px 0 5px 10px;
    border: 1px solid #969191;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
    min-width: 182px;
    max-width: 245px;
  }
  .category-header{
    margin: 5px 5px;
    height: 35px;
    border: 1px solid #007bff;
    border-radius: 20px;
    background-color: #007bff;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.8);
    padding-top: 3px;
    min-width: 170px;
  }
  .category-title{
    padding: 0 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
  }
  .category-item{
    margin: 5px 5px 0;
    height: 25px;
    border-bottom: 1px solid #b9b6b6;
  }
  .category-item-title{
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #000000;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
  }
  .category-item-title:hover{
    text-decoration: none;
    color: #0ec4d1;

  }
}
@media screen and (min-width: 768px){
  .article-card{
    min-height: 200px;
  }
  .title-div{
    height: 59px;
    padding-right: 20px;
  }
  .body-div{
    min-height: 90px;
  }
  .category-list{
    min-width: 246px;
    max-width: 475px;
  }
  .category-header{
    height: 40px;
    border-radius: 30px;
  }
  .category-title{
    font-size: 22px;
  }
  .category-item{
    margin: 5px 5px 0;
    height: 30px;
  }
  .category-item-title{
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 16px;
  }
  .category-item-title:hover{
    text-decoration: none;
    color: #0ec4d1;
    
  }
}
@media screen and (min-width: 992px){

}