// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article-image{
  width: 100%;
  min-height: 150px;
  max-height: 225px;
  padding: 5px 5px;
}
.article-link{
  text-decoration: none;
  color: #000000;
}
.article-title{
  text-align: left;
  font-weight: bold;
  margin: 0px;
}
@media screen and (min-width: 576px){

}
@media screen and (min-width: 1200px){
  .article-image{
    padding-top: 0;
  }
  .article-image-box{
    width: 100%;
    height: 450px;
  }
  .banner-image{
    width: 100%;
    height: 450px;
  }
  .article-wrapper{
    // width: 900px;
    margin: auto;
  }
  .article{
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .article-description{
    padding-top:10px;
    text-align: justify;
    white-space: pre-wrap;
  }
  .article-card{
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .article-link:hover{
    text-decoration: none;
    color: #1f79ad;
  }
}
@media screen and (min-width: 1400px){
  .article-wrapper{
    width: 1100px;
  }
  
}